@page
@model FitPeak.Pages.ListChallengesModel;

<style>
    .table-wrapper {
        height: 40rem;
        overflow: auto;
        margin-top: 2rem;
    }

    .table-wrapper .table {
        --bs-table-bg:
        ;
    }

    .table-header {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1000;
    }

    .table-header th,
    .table tbody td {
        padding: 1rem;
    }

    .hard {
        background-color: #f7dddc;
    }

    .medium {
        background-color: #fcefdc;
    }

    .easy {
        background-color: #dbf2e3;
    }
</style>

<h2 style="text-align: center; margin-top: 4rem">Challenges</h2>

<form id="sortForm" method="get" style="display: inline-block; position:absolute; left: 10rem; top:12rem;">
    <label for="sort">Sort by:</label>
    <select id="sort" name="sort" onchange="document.getElementById('sortForm').submit()">
        <option value="default">Default</option>
        <option value="easy">Easy To Hard</option>
        <option value="hard">Hard To Easy</option>
    </select>
</form>

<form id="filterForm" method="post" style="display: inline-block; position:absolute; left: 30rem; top:12rem;">
    <label for="option">Filter by:</label>
    <select name="option" id="option" onchange="document.getElementById('filterForm').submit()"
        asp-page-handler="Download">
        <option value="default">Default</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
        <option value="step">Step</option>
        <option value="cardio">Cardio</option>
        <option value="squad">Squad</option>
        <option value="wloss">Weight Loss</option>
    </select>
</form>

<div class="table-wrapper">
    <table class="table">
        <thead class="table-header">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Difficulty</th>
                <th>End Date</th>
                <th style="z-index: 1;">Join</th>
                <th style="z-index: 1;">Favorite</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var challenge in Model.Challenges)
            {
                string colorClass = "";
                switch (challenge.Difficulty)
                {
                    case "Hard":
                        colorClass = "hard";
                        break;
                    case "Medium":
                        colorClass = "medium";
                        break;
                    case "Easy":
                        colorClass = "easy";
                        break;
                    default:
                        break;
                }

                <tr class="@colorClass">
                    <td>@challenge.Title</td>
                    <td>@challenge.Description</td>
                    <td>@challenge.Category</td>
                    <td>@challenge.Difficulty</td>
                    <td>@challenge.EndDate.ToShortDateString()</td>
                    <td>
                        <div class="button-container">
                            @if (await Model.UserHasJoinedChallenge(challenge.Id))
                            {
                                <button type="button" class="btn btn-success disabled" disabled>Joined</button>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="Join" asp-route-id="@challenge.Id">
                                    <button type="submit" class="btn btn-success">Join</button>
                                </form>
                            }
                        </div>
                    </td>
                    <td>
                        <div class="button-container">
                            @if (await Model.UserHasJoinedChallenge(challenge.Id) == false)
                            {
                                <button type="button" class="btn btn-dark disabled" disabled>Inactive</button>
                            }
                            else if (await Model.UserHasJoinedChallenge(challenge.Id) == true && await
                            Model.UserHasFavoritedChallenge(challenge.Id) == false)
                            {
                                <form method="post" asp-page-handler="Fav" asp-route-id="@challenge.Id"
                                    asp-route-challengeId="@challenge.Id">
                                    <button type="submit" class="btn btn-warning">Favorite</button>
                                </form>
                            }
                            else
                            {
                                <button type="button" class="btn btn-warning disabled" disabled>Favorited</button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
